

<style>
.underline-on-hover:hover {
    border-bottom: 2px solid orange !important;
    border-radius: 10px;
    border-width: medium !important;
}

#product p {
  font-weight: bold; 
  color: white; 
  mix-blend-mode: difference;
}

#choosing-div p{
  margin-right: 3px;
}



</style>

<!-- PRODUCT SELECTOR -->
<div class="btn-toolbar" id="product-group" style="text-align: center; border: 2mm;">
    {% for row in product %}
    <a href="" id='clickable-product' class="border underline-on-hover box" style="margin:0 auto !important;  margin-top: 5px !important; color: inherit; text-decoration: none;">
        <div class="mt-2" style="display:block;" id='product'>
            <img class="product-photo" src="{{ row[5] }}" alt="{{row[0]}}" width="200" height="200">
            <p class="product-info" style="margin-right: 3px; ">{{row[0]}}</p>
            <p style="font-weight: bold;">{{ row[4] }}</p>
            <p class="product-cost" style="font-weight: bold;">£{{row[2]}}</p>
        </div>
    </a>
    {% endfor %}
</div>



<!-- MODAL-PRODUCT-QUANTITY -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="product-modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="product-modalLabel">Quantity selection</h5>
        <button type="button" class="close modal-closer" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

          <div>
            <img class="product-photo-modal" src="" alt="" width="200" height="200">
          </div>
          <div class="text-center">
            <div id="choosing-div">
              <h3>Choose how many:</h3>
              <p class="product-info-modal"></p>
              <p class="product-cost-modal"></p>
            </div>
            <div>
              <button class="d-inline p-2 bg-primary text-white" style="width: 40px !important;" id="substract-item-count" type="button">-</button>
              <p class="d-inline p-2" id="item-count">0</p>
              <button class="d-inline p-2 bg-primary text-white" style="width: 40px !important;" id="add-item-count" type="button">+</button>
            </div>

          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-closer">Close</button>
        <button type="button" id="add-basket" class="btn btn-primary" >Add to basket</button>
      </div>
    </div>
  </div>
</div>

<script src="static/js/responsejs.js"></script>




